h1 {
  font-family: "Press Start 2P", system-ui;
}

h2 {
  font-family: "EB Garamond", serif;
}

.linkContact {
  color: #a392ea;
  text-decoration: none;
}
/* Sejahat itu ternyato kau diah 
    ok fine

    ak anak baik

    BOHONGG
    CONFLICT NIH GAWE KAU
*/
