h1 {
  font-family: "Press Start 2P", system-ui;
}

h2,
.ketJudul {
  font-family: "EB Garamond", serif;
}

.fotosekelas {
  height: 100%;
  width: auto;
}
.linkContact {
  color: #a392ea;
  text-decoration: none;
}

.ungu {
  color: #a392ea;
  font-style: normal;
}

.unguGelap {
  background-color: #282b37;
}
.putih {
  color: white;
}

.borderUngu {
  border: 2px solid #a392ea;
}
/* Sejahat itu ternyato kau diah 
    ok fine

    ak anak baik

    BOHONGG
    CONFLICT NIH GAWE KAU
*/
